quill-editor {
  display: block;
  height:297mm;
  width:210mm;
}
.container{
  display: flex;
}
p{
  margin: 10px;
  margin-top: 60px;
  border: 1px solid gainsboro;
  height:297mm;
  width:210mm;
}
